@model IEnumerable<DataMapping.Entities.ActionRate>

@foreach (var actionRate in Model)
{
    <tr id='annotations_template' title='annotation'>

        <td class="vac text-center">
            @actionRate.Name
        </td>
        <td class="vac text-center">
            @actionRate.MaxRate
        </td>

        <td class="vac text-center">

            @using (Html.BeginForm("Delete", "ActionRates", new { id = actionRate.Id }, FormMethod.Post, new { @id = actionRate.Name }))
            {
                <button type="button" id="@actionRate.Id" value="" class="editActionRate btn btn-primary fa fa-edit"> </button>
                @*@Html.ActionLink(" ", "Edit", new { id = actionRate.Id }, new { @class = "btn btn-primary fa fa-edit", id = actionRate.Id })*@

                <button type='submit' name="annotation_delete" class='btn btn-danger fa fa-trash'></button>
                @*@Html.ActionLink(" ", "Delete", new { id = occasionVacation.Id }, new { @class = "btn btn-danger fa fa-remove", id = occasionVacation.Id })*@
            }
        </td>
    </tr>


}
<script type="text/javascript">
    $(".editActionRate").click(function (e) {
        var selectedItemId = $(this).attr('id');
        EditActionRate(e, selectedItemId);
        });
</script>
<script src="~/Scripts/bootstrap-dialog-delete-form.js"></script>



