@model DataMapping.Entities.Sprint
@using (Html.BeginForm("Create", "Sprints", FormMethod.Post, new { id = "Create" }))
{


        <!-- ****************** Start Suggest Modal ****************** -->

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Suggestion</h4>
    </div>
    <div class="modal-body">
        <div class="meeting_details-wrap">
            <div class="meeting_details-html">
                <div class="meeting_details-form">
                    <div class="data-htm">
                        <div class="group">
                            <label for="disabledSelect">Suggestion Title :</label>
                            @Html.TextBoxFor(model => model.Name, new { id = "name", @class = "input", placeholder = "Enter Title" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="group text-center">
                <input type="button" value="Create" class="button btn-success" id="Btn" />
            </div>
        </div>
    </div>

}
<link href="~/Content/MoreHoliday/dashstyle.css" rel="stylesheet" />
<script src="~/Scripts/Confirmdialog.js"></script>

