
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainHeader{

    @Html.Partial("PartialViews/PartialAdminHeader")
}

@section Container{


    <br />
    <br />

    <div class="row clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12 column vacation_type">
            <table class="table table-bordered table-hover" id="tableList">
                <thead>
                    <tr>
                        <th class="text-center col-md-3">
                            <h4>Requested From</h4>
                        </th>
                        <th class="text-center col-md-3">
                            <h4>Vacation Type</h4>
                        </th>
                        <th class="text-center col-md-3">
                            <h4>Vacation Days</h4>
                        </th>
                        <th class="text-center col-md-3">
                            <h4>Start Date</h4>
                        </th>
                        <th class="text-center col-md-3">
                            <h4>End Date</h4>
                        </th>

                    </tr>
                </thead>

                <tbody></tbody>

            </table>

        </div>

    </div>
}

@section MainFooter{

    @Html.Partial("PartialViews/PartialAdminFooter")
}
@section JavaScriptSection{

    <script type="text/javascript">
        var page = -1;
        var _inCallback = false;
        jQuery(document).ready(loadCompletedVacations());
        var dcList = true;
        jQuery(window).scroll(function () {
            if (jQuery(window).scrollTop() == jQuery(document).height() - jQuery(window).height()) {
                loadCompletedVacations();
            }
        });

    </script>

}
