

@{
    ViewBag.Title = "Booking Flight Result";
}
@{

    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section PageMetadata{

}

@section PageTitle{

}
@section MainHeader{

    @Html.Partial("PartialViews/MainHeader")
}
@section MenuPM{

}
@section Container{
    <div class="row booking-tab">
        <div class="container clear-padding">

        </div>
    </div>
    

}
@section MainFooter{

    @Html.Partial("PartialViews/MainFooter")
}

@section  JavaScriptSection{

}


