@model DataMapping.Entities.UserProfile
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainHeader{

    @Html.Partial("PartialViews/PartialAdminHeader")
}
@section Container{
    <div style="margin-top:5% ; margin-left:25px; margin-bottom:20%">
        <div style="font-size:large">
            <h1>Welcome Eng \ @Model.UserName</h1>
        </div>
        <div style="font-size:large ; float:left ;">
            <a href="@Url.Action("SignOut")">
                <img src="~/Content/img/signout.png" style="width:250px;height:75px;">
            </a>
        </div>
    </div>

}

@section MainFooter{

    @Html.Partial("PartialViews/PartialAdminFooter")
}
@section JavaScriptSection{


}
